<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-title>我的</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <ui-scroll>
      <ui-list>
        <ui-list-item>
          <ui-list-thumbnail>
            <span class="icon-key"></span>
          </ui-list-thumbnail>
          <ui-list-inner>修改密码</ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-thumbnail>
            <span class="icon-key"></span>
          </ui-list-thumbnail>
          <ui-list-inner>更改密码</ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-thumbnail>
            <span class="icon-key"></span>
          </ui-list-thumbnail>
          <ui-list-inner>更改密码</ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-thumbnail>
            <span class="icon-key"></span>
          </ui-list-thumbnail>
          <ui-list-inner>更改密码</ui-list-inner>
        </ui-list-item>
      </ui-list>
    </ui-scroll>
  </ui-content>
</ui-page>